*
  padding: 0
  margin: 0
  box-sizing: border-box

#root
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

#box-container
  // background-color: red
  // background-image: url('backgroundImages/hiroko-yoshii-9y7y26C-l4Y-unsplash.jpg')
